
<html>

<body>

    <table>
        <tr>
            <td>
                <!--<img src="cid:logoId" width="190" height="60" />-->
                <img src="../../../Content/logo.png" />
            </td>
        </tr>

        <tr>
            <td>
                <h4>Offer Details</h4>
                <p>
                    Dear ${contact.Name}
                </p>
                <p>
                    Attached are the offer details regarding bla bla...
                </p>
                <p>
                    Sincerely, 
                </p>
                <p>
                    Jonito Herrera
                </p>
            </td>
        </tr>

        
        <tr>
            <td>                
                ProAFSolutions 4 Ever
            </td>
        </tr>

    </table>

    

</body>

</html>