
<html>

<body>

    <table>
        <tr>
            <td>
               <!-- <img src="https://drive.google.com/open?id=0B3c1uz-iD4xAM3pEN0FqaTgzcW8" width="109" height="60" />-->
                <!--<img src="cid:logoId" width="109" height="60" alt="OK" />-->
               <!-- <img src="../../../Content/logo.png" />-->
            </td>
        </tr>

        <tr>
            <td>
                <h4>Offer Details</h4>
                <p>
                    Dear ${contact.Name}
                </p>
                <p>
                    Attached are the offer details regarding bla bla...
                </p>
                <p>
                    Sincerely, 
                </p>
                <p>
                    Jonito Herrera
                </p>
            </td>
        </tr>

        
        <tr>
            <td>                
                ProAFSolutions
            </td>
        </tr>

    </table>

    <div>
       
       
    </div>
    

</body>

</html>