<footer class="footer">
    <div class="container">

        <!-- COMPANY ADDRESS-->
        <div class="col-md-5 company-details">
            <div class="icon-top red-text">
                <i class="icon-fontawesome-webfont-302"></i>
            </div>
            Miami, United States
        </div>

        <!-- COMPANY EMAIL-->
        <div class="col-md-2 company-details">
            <div class="icon-top green-text">
                <i class="icon-fontawesome-webfont-329"></i>
            </div>
            <a class="email" href="mailto:{{vm.contactEmail}}">{{vm.contactEmail}}</a>            
        </div>

        <!-- COMPANY PHONE NUMBER -->
        <div class="col-md-2 company-details">
            <div class="icon-top blue-text">
                <i class="icon-fontawesome-webfont-101"></i>
            </div>
            <a class="tel" href="tel:1-786-413-8551">+1 (786)-413-8551</a>
            <br />
            <a class="tel" href="tel:1-786-370-6635">+1 (786)-370-6635</a>
            
        </div>

        <!-- SOCIAL ICON AND COPYRIGHT -->
        <div class="col-lg-3 col-sm-3 copyright">
            <ul class="social">
                <li><a href="https://www.facebook.com/Proafsolutions-236931140081701/" target="_blank"><i class="icon-facebook"></i></a></li>
                <!--<li><a href=""><i class="icon-twitter-alt"></i></a></li>
                <li><a href=""><i class="icon-linkedin"></i></a></li>-->
            </ul>
            <div>
                <div class="logo-small"></div>
                <div>ProAFSolutions © {{vm.copyrightYear}}</div>
            </div>


        </div>
    </div> <!-- / END CONTAINER -->
</footer> <!-- / END FOOOTER  -->