
#home {

      #main-nav {
        position: fixed !important;        

        &.navbar{
            .lang-selector{
               position: absolute;
               right: 20px;

                .lang-item {                
                    cursor: pointer;
                    padding-left: 5px;
               
                     span{
                         color: black;
                         font-size: 12px;
                     }

                     img {
                        width: 24px;
                    }                
                }
            }

            i.close{
                display: none;
            }

            .navbar-brand{
                margin-bottom: 20px;
            }

            .navbar-toggle{
                margin-top: 50px !important;
            }

        }
      }
       
  }

@media (max-width: 767px){

    #home {
        #main-nav {
            &.navbar-inverse {

                .navbar-header{
                    .navbar-toggle{
                        
                        &:hover, &:focus{
                            background-color: $color-blue;
                        }

                       
                    }
                }

                .navbar-collapse {  
                    position: relative;                  
                    background-color: #272727;
                    color: white;
                    opacity: 0.9;

                    i.close{
                        display: block;
                        position: absolute;
                        top: 20px;
                        left: 20px;
                        color: white;
                        font-size: 32px;
                        opacity: 1;
                    }

                    .navbar-nav > li {
                        display: inline !important;    
                        
                        a {
                            color: white;
                            margin-left: 40px;
                            margin-right: 40px;
                            border-radius: 15px;
                            
                            &:hover{
                                background-color: $color-blue;
                            }

                        }  

                         &:first-child{
                            a {
                                margin-top: 40px;
                            }                            
                        } 
                        
                        &:last-child{
                            a {
                                margin-bottom: 20px;
                            }                            
                        }              
                    }
                }
            }
        }
    }
}

