body .home .navbar .lang-selector {
  position: absolute;
  right: 20px; }
  body .home .navbar .lang-selector .lang-item {
    cursor: pointer;
    padding-left: 5px; }
    body .home .navbar .lang-selector .lang-item span {
      color: #000;
      font-size: 12px; }
    body .home .navbar .lang-selector .lang-item img {
      width: 24px; }

body .home .navbar .navbar-brand {
  margin-bottom: 20px; }

body .home .navbar .navbar-toggle {
  margin-top: 50px !important; }

body .chat .chat-tray-icon, body .chat .chat-window {
  position: fixed;
  z-index: 999999; }

body .chat .chat-tray-icon {
  top: 45px;
  right: 70px;
  font-size: 36px;
  color: #818181;
  cursor: pointer; }
  body .chat .chat-tray-icon:hover {
    color: #ccc;
    font-size: 42px; }

body .chat .chat-window {
  bottom: 0;
  right: 0;
  height: calc(100% - 30px);
  padding: 0; }
  body .chat .chat-window .chat-header {
    height: 50px;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: solid 1px #fff; }
    body .chat .chat-window .chat-header h4 {
      line-height: 45px; }
    body .chat .chat-window .chat-header .options-bar {
      position: absolute;
      top: 14px;
      left: 10px; }
      body .chat .chat-window .chat-header .options-bar i {
        font-size: 22px; }
        body .chat .chat-window .chat-header .options-bar i:nth-child(2) {
          margin-left: 30px; }
        body .chat .chat-window .chat-header .options-bar i:nth-child(3) {
          margin-left: 60px; }
    body .chat .chat-window .chat-header i {
      position: absolute;
      color: #fff;
      opacity: 1;
      cursor: pointer; }
      body .chat .chat-window .chat-header i:hover {
        color: #ccc; }
      body .chat .chat-window .chat-header i.close {
        right: 2px;
        top: 3px;
        font-size: 36px; }
  body .chat .chat-window .join-view {
    height: 100%; }
    body .chat .chat-window .join-view h4 {
      padding-top: 15px; }
    body .chat .chat-window .join-view p {
      padding: 20px;
      text-align: justify; }
    body .chat .chat-window .join-view .icon-bulb {
      font-size: 18px; }
    body .chat .chat-window .join-view input {
      width: 250px;
      padding: 5px;
      border-radius: 5px;
      margin-bottom: 15px; }
      body .chat .chat-window .join-view input:hover, body .chat .chat-window .join-view input:active, body .chat .chat-window .join-view input:focus {
        outline: none;
        -webkit-appearance: none;
        border: solid 1px #ccc !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important; }
  body .chat .chat-window .chat-view {
    height: 100%; }
    body .chat .chat-window .chat-view .chat-messages {
      height: calc(100% - 90px);
      overflow: auto;
      color: #fff; }
      body .chat .chat-window .chat-view .chat-messages .conversation-area {
        padding: 20px !important;
        text-align: left; }
        body .chat .chat-window .chat-view .chat-messages .conversation-area li {
          padding-bottom: 10px; }
    body .chat .chat-window .chat-view .chat-input {
      height: 40px; }
      body .chat .chat-window .chat-view .chat-input input {
        float: left;
        height: 40px;
        line-height: 40px;
        padding-left: 10px;
        width: calc(100% - 90px); }
      body .chat .chat-window .chat-view .chat-input .btn {
        float: right;
        cursor: pointer;
        margin-right: 8px; }
  body .chat .chat-window .chat-header, body .chat .chat-window .chat-view, body .chat .chat-window .join-view {
    background-color: #000;
    opacity: 0.9; }

body .about-us .skill .skill-count i {
  font-size: 48px;
  color: #fff; }

body .focus .other-focuses .section-footer-title {
  text-transform: uppercase; }

