
body {

    
    .home {

        .navbar{
            .lang-selector{
               position: absolute;
               right: 20px;

                .lang-item {                
                    cursor: pointer;
                    padding-left: 5px;
               
                     span{
                         color: #000;
                         font-size: 12px;
                     }

                     img {
                        width: 24px;
                    }                
                }
            }

            .navbar-brand{
                margin-bottom: 20px;
            }

            .navbar-toggle{
                margin-top: 50px !important;
            }

        }
    }

   
   .chat{

       .chat-tray-icon, .chat-window{
           position: fixed;           
           z-index: 999999;       
       }

       .chat-tray-icon {
           top: 45px;
           right: 70px;
           font-size: 36px;
           color: #818181;
           cursor: pointer;

           &:hover{
               color: #ccc;
               font-size: 42px;

           }
       }    

       .chat-window {         
           bottom: 0;  
           right: 0;
           height: calc(100% - 30px);           
           padding: 0;
         
           .chat-header{
               height: 50px;          
               position: relative;
               border-top-left-radius: 15px;
               border-top-right-radius: 15px;
               border-bottom: solid 1px #fff;

               h4{
                   line-height: 45px;
               }

               .options-bar {
                   position: absolute;
                   top: 14px;
                   left: 10px;

                   i {
                       font-size: 22px;        
                       
                       &:nth-child(2){
                           margin-left: 30px;
                       }  
                       
                        &:nth-child(3){
                           margin-left: 60px;
                       }              
                   }

                   
               }

               i {
                   position: absolute;              
                   color: #fff;
                   opacity: 1;
                   cursor: pointer;

                   &:hover{
                       color: #ccc;
                   }

                   &.close{
                      right: 2px;
                       top: 3px;
                       font-size: 36px;
                   }                  
               }
           }

           .join-view{
               height: 100%;  
               
               h4{
                   padding-top: 15px;
               }             

               p{
                   padding: 20px;
                   text-align: justify;
               }

               .icon-bulb{
                   font-size: 18px;
               }

               input{
                   width: 250px;
                   padding: 5px;
                   border-radius: 5px;
                   margin-bottom: 15px;

                   &:hover, &:active, &:focus {
                        outline: none;                     
                        -webkit-appearance: none;
                         border: solid 1px #ccc !important;
                        -webkit-box-shadow: none !important;
                        box-shadow: none !important;
                  }
               }
           }

           .chat-view {

                height: 100%;

                .chat-messages{           
                    height: calc(100% - 90px);
                    overflow: auto;
                    color: #fff;

                    .conversation-area{
                        padding: 20px !important;
                        text-align: left;

                        li{
                            padding-bottom: 10px;
                        }
                    }
                }

                .chat-input{
                    height: 40px;
           
                    input{
                        float: left;
                        height: 40px;
                        line-height: 40px;
                        padding-left: 10px;            
                        width: calc(100% - 90px);
                    }   
           
                    .btn{
                        float: right;
                        cursor: pointer;
                        margin-right: 8px;
                    }        
               }
           }

           

           .chat-header, .chat-view, .join-view{
               background-color: #000;
               opacity: 0.9;
           }

           
       }
   }

   

    .about-us{

        .skill {
            .skill-count{
                i {
                    font-size: 48px;
                    color: #fff;
                }
            }
        }
    }

    .features{

    }

    .focus{
        .other-focuses{
            .section-footer-title{
                text-transform: uppercase;
            }
        }
    }

    .newsletter{

    }

    .packages{

    }

    .products{

    }

    .purchase-now{

    }

    .separator-one{

    }

    .stats {

    }

    .our-team {

    }

    .testimonial {

    }

    .works{

    }

    .footer{

    }


}
