
<html>

<body>

    <table>
        <tr>
            <td>
                <img src="http://www.proafsolutions.com/images/logo.png" width="109" height="60" />
                <!--<img src="cid:logoId" width="109" height="60" alt="OK" />-->
                <!-- <img src="../../../Content/logo.png" />-->
            </td>
        </tr>

        <tr>
            <td>
                <h4>Detalles de la oferta</h4>
                <p>
                    Querido ${contact.Name}
                </p>
                <p>
                    Adjunto están los detalles de la oferta con respecto a la <b>${contact.Subject}</b>. Para cualquier pregunta adicional por favor contáctenos.
                </p>
                <p>
                    Sinceramente,
                </p>
                <p>
                    <b>Equipo ProAFSolutions</b>
                </p>
            </td>
        </tr>


        <tr>
            <td>
                contact@proafsolutions.com
            </td>
        </tr>
        <tr>
            <td>
                +1 (786)-413-8551 <br />
                +1 (786)-370-6635
            </td>
        </tr>

    </table>

    <div>


    </div>


</body>

</html>