<section class="our-team" id="team">
    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header">

            <!-- SECTION TITLE -->
            <h2 class="dark-text">Our Team</h2>

            <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
            <h6>
                Check our awesome team memebers who always work hard to provide quality products.
            </h6>
        </div>
        <!-- / END SECTION HEADER -->
        <!-- TEAM MEMBERS -->
        <div class="row wow fadeInRight animated" data-wow-offset="40" data-wow-duration="3s" data-wow-delay="0.15s">
            <!-- MEMBER -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="member in vm.teamMembers">
                <div class="team-member">
                    <figure class="profile-pic">
                        <img src="{{member.picUrl}}" alt=""> <!-- MEMBER PROFILE PIC -->
                    </figure>
                    <div class="member-details">
                        <h5 class="dark-text red-border-bottom">{{member.name}}</h5>
                        <div class="position">
                            {{member.title}}
                        </div>
                    </div>
                    <div class="social-icons">
                        <ul>
                            <li><a href="{{member.socialMediaUrls[0]}}" target="_blank"><i class="icon-linkedin"></i></a></li>
                            <li><a href=""><i class="icon-twitter-alt" target="_blank"></i></a></li>
                            <li><a href=""><i class="icon-facebook" target="_blank"></i></a></li>                       
                        </ul>
                    </div>
                    <div class="details">
                        <p>
                            {{member.description}}
                        </p>
                    </div>
                </div>
            </div>
            <!-- / END MEMBER -->            
        </div> <!-- / END TEAM MEMBER LIST -->

    </div> <!-- / END CONTAINER -->
</section> <!-- / END OUR TEAM SECTION -->