<section class="about-us" id="aboutus">
    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header">

            <!-- SECTION TITLE -->
            <h2 class="white-text">{{"aboutus.title" | translate}}</h2>

            <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
            <h6 class="white-text">
                {{"aboutus.description" | translate}}               
            </h6>
        </div>
        <!-- / END SECTION HEADER -->
        <!-- 3 COLUMNS OF ABOUT US-->
        <div class="row">

            <!-- COLUMN 1 - BIG MESSAGE ABOUT THE COMPANY-->
            <div class="col-lg-4 col-md-4 column">
                <div class="big-intro wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                    {{"aboutus.slogan" | translate}}
                </div>
            </div>

            <!-- COLUMN 2 - BRIEF ABOUT THE COMPANY-->
            <div class="col-lg-4 col-md-4 column">
                <p class="wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                    {{"aboutus.panagraph1" | translate}}<br /><br />
                    {{"aboutus.panagraph2" | translate}}<br /><br />
                    {{"aboutus.panagraph3" | translate}}
                </p>
            </div>

            <!-- COLUMN 1 - SKILSS-->
            <div class="col-lg-4 col-md-4 column">
                <ul class="skills wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                    <!-- SKILL ONE -->
                    <li class="skill">
                        <div class="skill-count">
                            <i class="icon-fontawesome-webfont-258"></i>
                        </div>
                        <h6>{{"aboutus.skills.design" | translate}}</h6>
                        <p>
                            {{"aboutus.skills.design.description" | translate}}
                        </p>
                    </li>
                    <!-- SKILL TWO -->
                    <li class="skill">
                        <div class="skill-count">
                            <i class="icon-fontawesome-webfont-167"></i>
                        </div>
                        <h6>{{"aboutus.skills.development" | translate}}</h6>
                        <p>
                            {{ "aboutus.skills.development.description" | translate}}
                        </p>
                    </li>
                    <!-- SKILL THREE -->
                    <li class="skill">
                        <div class="skill-count">
                            <i class="icon-fontawesome-webfont-344"></i>
                        </div>
                        <h6>{{"aboutus.skills.maintenance" | translate}}</h6>
                        <p>
                            {{"aboutus.skills.maintenance.description" | translate}}
                         
                        </p>
                    </li>
                    <!-- SKILL FOUR -->
                    <!--<li class="skill">
            <div class="skill-count">
                <input type="text" value="95" data-thickness=".2" class="skill4">
            </div>
            <h6>SEO</h6>
            <p>
                We are expert on HTML development. Clean, semantic and valid HTML codes.
            </p>
        </li>-->
                </ul>
            </div> <!-- / END SKILLS COLUMN-->
        </div> <!-- / END 3 COLUMNS OF ABOUT US-->
        <!-- CLIENTS -->
        <!--<div class="our-clients">
            <h5><span class="section-footer-title">OUR HAPPY CLIENTS</span></h5>
        </div>-->
        <!-- CLIENT LIST -->
        <!--<div class="client-list">
            <ul class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                <li><a href="#"><img src="images/clients/1.png" alt="Client 1"></a></li>
                <li><a href="#"><img src="images/clients/2.png" alt="Client 2"></a></li>
                <li><a href="#"><img src="images/clients/3.png" alt="Client 3"></a></li>
                <li><a href="#"><img src="images/clients/1.png" alt="Client 1"></a></li>
                <li><a href="#"><img src="images/clients/4.png" alt="Client 4"></a></li>
                <li><a href="#"><img src="images/clients/5.png" alt="Client 5"></a></li>
                <li><a href="#"><img src="images/clients/6.png" alt="Client 6"></a></li>
            </ul>
        </div>--> 
    </div> <!-- / END CONTAINER -->
</section> <!-- END ABOUT US SECTION -->