#contact{
    .has-error .form-control + p {
        color: red;
        font-weight: bold;
        font-size: 16px;
        text-align: left;
    }  

    .success-message {
        margin-left: 18px;
    }
}

