<section class="contact-us" id="contact">
    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header">

            <!-- SECTION TITLE -->
            <h2 class="white-text">{{"contact.title" | translate}}</h2>

            <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
            <h6 class="white-text">
                {{"contact.title.subtitle" | translate}}                
            </h6>
        </div>
        <!-- / END SECTION HEADER -->
        <!-- CONTACT FORM-->
        <div class="row">
            <form role="form" class="contact-form" id="contact-form">
                <div class="wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                    <div class="col-lg-4 col-sm-4">
                        <input type="text" name="name" ng-model="vm.contactMessage.name" placeholder='{{"contact.form.name" | translate}}' class="form-control input-box" id="name">
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <input type="email" name="email" ng-model="vm.contactMessage.email" placeholder='{{"contact.form.email" | translate}}' class="form-control input-box" id="email">
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <input type="text" name="subject" ng-model="vm.contactMessage.subject" placeholder='{{"contact.form.subject" | translate}}' class="form-control input-box" id="subject">
                    </div>
                </div>

                <div class="clearfix">
                    <div class="col-md-12 wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                        <textarea name="message" ng-model="vm.contactMessage.message"  class="form-control textarea-box" placeholder='{{"contact.form.message" | translate}}' id="message"></textarea>
                    </div>
                </div>
                <!-- IF MAIL SENT SUCCESSFULLY -->
                <h4 class="success pull-left white-text">
                    {{"contact.message.sucessfully" | translate}}
                </h4>

                <!-- IF MAIL SENDING UNSUCCESSFULL -->
                <h4 class="error pull-left white-text">
                    {{"contact.message.error" | translate}}
                </h4>
                <button class="btn btn-primary custom-button red-btn wow fadeInLeft animated" ng-click="vm.sendContactMessage()" id="submit" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" type="submit">{{"contact.button" | translate}}</button>
            </form>
        </div>
        <!-- / END CONTACT FORM-->
    </div> <!-- / END CONTAINER -->
</section> <!-- / END CONTACT US SECTION-->