<div class="jumbotron">
    <h1>Our API is now running!!!</h1>   
    <p><a href="http://localhost:2891" class="btn btn-primary btn-lg">Go to our Web Site &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ProAFSolutions API is a framework that provides us all the services required by our web site. It's
         an ideal platform for building our RESTful applications on the .NET platform.</p>      
    </div>   
</div>
