<section class="purchase-now">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h3 class="white-text wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                    {{"purchase.title1" | translate}}
                </h3>
            </div>
            <div class="col-md-3 wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                <a href="" class="btn btn-primary custom-button red-btn">{{"purchase.button" | translate}}</a>
            </div>
        </div>
    </div>
</section> <!-- / END PURCHASE NOW SECTION-->