<section class="separator-one" id="separator">
    <div class="color-overlay">
        <h3 class="container text wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
              {{"separator.title2" | translate}}
        </h3>

        <div class="skill-count" style="color:White!important;font-size:55px!important;text-align:center!important">
            <i class="icon-fontawesome-webfont-193"></i>
        </div>
        <h4 style="color:white!important;font-size:20px!important;text-align:center!important">{{"separator.tools1" | translate}}</h4>
       
        <br />

        <div class="skill-count" style="color:White!important;font-size:55px!important;text-align:center!important">
            <i class="icon-fontawesome-webfont-309"></i>
        </div>
        <h4 style="color:white!important;font-size:20px!important;text-align:center!important">{{"separator.tools2" | translate}}</h4>

        <br />

        <div class="skill-count" style="color:White!important;font-size:55px!important;text-align:center!important">
            <i class="icon-fontawesome-webfont-315"></i>
        </div>
        <h4 style="color:white!important;font-size:20px!important;text-align:center!important">{{"separator.tools3" | translate}}</h4>

        <br />

        <div class="skill-count" style="color:White!important;font-size:55px!important;text-align:center!important">
            <i class="icon-fontawesome-webfont-131"></i>
        </div>
        <h4 style="color:white!important;font-size:20px!important;text-align:center!important">{{"separator.tools4" | translate}}</h4>

    </div>
</section>  <!-- / END SEPARATOR -->