
<section class="chat-red-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h3 class="white-text wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                    {{"chat.section.title1" | translate}}
                </h3>
            </div>
            <div class="col-md-3 wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                <a href="" ng-click="vm.showClick()"  class="btn btn-primary custom-button red-btn">{{"chat.section.button" | translate}}</a>
            </div>
        </div>
    </div>
</section> <!-- / END PURCHASE NOW SECTION-->

<div class="row chat" id="chat-room">

    <audio id="sound-send" src="/sounds/send.mp3"></audio>
    <audio id="sound-receive" src="/sounds/receive.mp3"></audio>
    <audio id="sound-welcome" src="/sounds/welcome.mp3"></audio>

    <i ng-show="!vm.isVisible" ng-click="vm.showClick()" class="chat-tray-icon icon-fontawesome-webfont-73" title="Chat"></i>

    <div ng-show="vm.isVisible" class="chat-window col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="chat-header">
            <i ng-click="vm.hideClick()" class="close icon-fontawesome-webfont-249" title="Close"></i>
            <div ng-show="vm.isJoined" class="options-bar">
                <i ng-click="vm.enableSound()" ng-class="{ 'icon-fontawesome-webfont-253': vm.soundEnabled, 'icon-fontawesome-webfont-156': !vm.soundEnabled }" title="{{ vm.soundEnabled ? 'Sound is On' : 'Sound is Off'}}"></i>
                <i class="icon-fontawesome-webfont-189" title="Save Conversation"></i>
                <i ng-click="vm.emailConversation()" class="icon-mail" title="Email this conversation"></i>
            </div>
            <h4>Chat Room</h4>
        </div>
        <div class="join-view" ng-show="!vm.isJoined">

            <div ng-show="!vm.isLoading">
                <h4>Welcome to our Chat Room!!!</h4>
                <p>
                    <i class="icon-bulb"></i>&nbsp;&nbsp;
                    Please feel free to ask questions and get in touch with us through this chat, we will be very pleased to answer.
                    Don't waste time, join us by providing your name and a valid email address and then click the button below. We'll get back to you as soon as possible.
                </p>
                <ul>
                    <li>
                        <label>Name:</label>
                        <input type="text" ng-model="vm.name" />
                    </li>
                    <li>
                        <label>Email:</label>
                        <input type="email" ng-model="vm.room" />
                    </li>
                    <li>
                        <a class="btn btn-primary green-btn" ng-show="vm.name && vm.room" ng-click="vm.join()">
                            <i class="icon-fontawesome-webfont-316"></i>&nbsp;&nbsp;Join now!
                        </a>
                    </li>
                </ul>
            </div>

            <div class="wait-screen" ng-show="vm.isLoading">
                <img src="/images/wait.gif" />
                <div>Please wait while you are being connected</div>
            </div>
            
        </div>
        <div class="chat-view" ng-show="vm.isJoined">
            <p ng-hide="vm.conversation.length > 0" class="waiting-message" ng-show="vm.showWaitingMessage">
                Dear customer, we're glad to have you in. Shortly we will assist you. Thanks for your patience.
            </p>
            <div class="chat-messages">
                <ul class="conversation-area">
                    <li ng-repeat="message in vm.conversation" ng-class="message.name === vm.name? 'blue slideInLeft animated' : 'yellow slideInRight animated'">
                       {{message.text}}
                    </li>              
                </ul>
            </div>
            <div class="chat-input">
                <input type="text" ng-model="vm.message" ng-keypress="vm.messageTextKeyPress($event)"/>
                <a class="btn btn-primary" ng-disabled="!vm.message" ng-click="vm.send()">
                    <i class="icon-paperplane"></i>&nbsp;&nbsp;Send
                </a>
            </div>
        </div>

    </div>
</div> 