<appSettings>
      
    <!-- EMAIL SETUP -->
    <add key="mailSmtpServer" value="smtp.gmail.com" />
    <add key="mailSmtpPort" value="587" />
    <add key="mailSSLEnabled" value="true" />
    <add key="mailSmtpNeedsAuthentication" value="true" />
    <add key="mailSmtpAuthenticationUser" value="toldis2013@gmail.com" />
    <add key="mailSmtpAuthenticationPassword" value="Toldistitis4ever" />
    <add key="mailFrom" value="toldis2013@gmail.com" />
    <add key="mailFromName" value="ProAFSolutions" />
    <add key="mailMode" value="debug" />
    <!-- on | debug | off : if mailMode="debug" this address will be used as the target for all emails -->
    <add key="mailDebugPipe" value="alexclavijo85@gmail.com" />
    <!-- Comma separated admin addresses -->
    <add key="mailToAdmin" value="alexclavijo85@gmail.com,fily.junior@gmail.com" />
  
    <!-- Twilio SMS SETUP -->
    <add key="accountSid" value="AC503e8b4cdf8a7fee94e79568bed71651" />
    <add key="authToken"  value="d853c44bc9035960eedaf51ebc4f1aef" />
    <add key="fromNumber" value="+17864754911" />

    <!-- Comma separated phone numbers -->
    <add key="adminPhones" value="+17864138551,+17863706635" />  
  
</appSettings>
