<appSettings>
      
    <!-- EMAIL SETTINGS -->
    <!--<add key="mailSmtpServer" value="smtp.gmail.com" />
    <add key="mailSmtpPort" value="587" />
    <add key="mailSSLEnabled" value="true" />
    <add key="mailSmtpNeedsAuthentication" value="true" />
    <add key="mailSmtpAuthenticationUser" value="toldis2013@gmail.com" />
    <add key="mailSmtpAuthenticationPassword" value="Toldistitis4ever" />
    <add key="mailFrom" value="toldis2013@gmail.com" />
    <add key="mailFromName" value="ProAFSolutions" />
    <add key="mailMode" value="debug" />
    --><!-- on | debug | off : if mailMode="debug" this address will be used as the target for all emails --><!--
    <add key="mailDebugPipe" value="alexclavijo85@gmail.com" />
    --><!-- Comma separated admin addresses --><!--
    <add key="mailToAdmin" value="alexclavijo85@gmail.com,fily.junior@gmail.com" />-->

    <!-- EMAIL smtp4dev SETTINGS -->
    <add key="mailSmtpServer" value="localhost" />
    <add key="mailSmtpPort" value="25" />
    <add key="mailSSLEnabled" value="false" />
    <add key="mailSmtpNeedsAuthentication" value="false" />
    <!--<add key="mailSmtpAuthenticationUser" value="toldis2013@gmail.com" />
    <add key="mailSmtpAuthenticationPassword" value="Toldistitis4ever" />-->
    <add key="mailFrom" value="toldis2013@gmail.com" />
    <add key="mailFromName" value="ProAFSolutions" />
    <add key="mailMode" value="on" />
    <!-- on | debug | off : if mailMode="debug" this address will be used as the target for all emails -->
    <add key="mailDebugPipe" value="alexclavijo85@gmail.com" />
    <!-- Comma separated admin addresses -->
    <add key="mailToAdmin" value="alexclavijo85@gmail.com,fily.junior@gmail.com" />

    <!-- EMAIL TEMPLATE SETTINGS -->
    <add key="chatRoomJoinEmailSubject" value="Somebody wants to get in touch with you!" />
  
    <!-- Twilio SMS SETTINGS -->
    <add key="accountSid" value="AC6147dbff2d0c6b8726ac59c40b01afe6" />
    <add key="authToken"  value="418ec653ad883ef6ab0c28f428cc4d70" />
    <add key="fromNumber" value="+17864754911" />
    <!-- Comma separated phone numbers -->
    <add key="adminPhones" value="+17864138551,+17863706635" />

    <!-- Chat SETTINGS-->
    <add key="adminCode" value="ProAF@dmin" />

    <!-- IP API SETTINGS-->
    <add key="ipApiUrl" value="http://ip-api.com/json/{0}" />
  
</appSettings>
