<section id="assistance" class="chat-red-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h3 class="white-text wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                    <i class="icon-fontawesome-webfont-338 help-icon"></i> {{"assistance.section.title1" | translate}}
                </h3>
            </div>
            <div class="col-md-3 wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                <a href="" ng-click="vm.openChatWindowClick()" class="btn btn-primary custom-button red-btn">
                    <i class="icon-fontawesome-webfont-225 chat-icon"></i>&nbsp; {{"assistance.section.button" | translate}}
                </a>
            </div>
        </div>
    </div>
</section>

