<section class="focus" id="focus">
    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header">

            <!-- SECTION TITLE -->
            <h2 class="dark-text">{{"focus.title" | translate}}</h2>

            <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
            <h6>
                {{"focus.title.second" | translate}}
            </h6>
        </div>
        <!-- / END SECTION HEADER -->
        <!-- 4 FOCUS BOXES -->
        <div class="row">

            <!-- FIRST FOCUS BOXES -->
            <div class="col-lg-3 col-sm-3 focus-box red wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                <div class="service-icon">
                    <i class="pixeden pd-icon-responsive"></i> <!-- FOCUS ICON-->
                </div>
                <h5 class="red-border-bottom">{{"focus.focus1.title" | translate}}</h5> <!-- FOCUS HEADING -->
                <p>
                    <!-- FOCUS DESCRIPTION -->
                    {{"focus.focus1.description" | translate}}
                </p>
            </div>
            <!-- / END FIRST FOCUS BOX. Other boxes has same format -->

            <div class="col-lg-3 col-sm-3 focus-box green wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                <div class="service-icon">
                    <span class="pixeden pd-icon-bag2"></span>
                </div>
                <h5 class="green-border-bottom">{{"focus.focus2.title" | translate}}</h5>
                <p>
                    {{"focus.focus2.description" | translate}}
                </p>
            </div>

            <div class="col-lg-3 col-sm-3 focus-box blue wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                <div class="service-icon">
                    <i class="pixeden pd-icon-upload"></i>
                </div>
                <h5 class="blue-border-bottom">{{"focus.focus3.title" | translate}}</h5>
                <p>
                    {{"focus.focus3.description" | translate}}
                </p>
            </div>

            <div class="col-lg-3 col-sm-3 focus-box yellow wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                <div class="service-icon">
                    <i class="pixeden pd-icon-arrows"></i>
                </div>
                <h5 class="yellow-border-bottom">{{"focus.focus4.title" | translate}}</h5>
                <p>
                    {{"focus.focus4.description" | translate}}
                </p>
            </div>
        </div>
        <!-- / END 4 FOCUS BOXES -->
        <!-- OTHER FOCUSES -->
        <div class="other-focuses">
            <h5><span class="section-footer-title">{{"focus.also" | translate}}</span></h5>
        </div>

        <!-- OTHER FOCUS LIST -->
        <div class="other-focus-list wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
            <ul>
                <li><i class="icon-fontawesome-webfont-8"></i>{{"focus.also.web" | translate}}</li>
                <li><i class="icon-fontawesome-webfont-223"></i>{{"focus.also.desktop" | translate}}</li>
                <li><i class="icon-fontawesome-webfont-344"></i>{{"focus.also.cms" | translate}}</li>
                <li><i class="icon-fontawesome-webfont-325"></i>{{"focus.also.reporting" | translate}}</li>
            </ul>
        </div> <!-- / END OTHER FOCUS LIST -->
    </div> <!-- / END CONTAINER -->
</section>  <!-- / END FOCUS SECTION -->